@(listaTruplas: Seq[(Recepcion, Paciente, Medico)])
@import views.html.recepciones.atencion

@main("Pacientes") {

    <table class="table">
        <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>Medico</th>
            <th>Estado</th>
        </tr>
        @for( t <- listaTruplas) {
            @atencion(t)
        }
    </table>
    <script>
            var websocket = new WebSocket("ws://localhost:9000/recepcionista/");
            websocket.onmessage = function (event) {
                console.log("Se recibio un mensaje: ");
                console.log(event.data);
            };
    </script>


}