@(form: Form[DatosPaciente])

@main("Agregar Paciente") {

    <form role="form">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre">
        </div>
        <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input type="text" class="form-control" id="apellido">
        </div>
        <div class="form-group">
            <label for="dni">DNI:</label>
            <input type="number" class="form-control" id="dni">
        </div>
        <div class="form-group">
            <label for="obrasocial">Obra Social:</label>
            <input type="number" class="form-control" id="obrasocial">
        </div>
        <button type="submit" class="btn btn-default">Agregar</button>
    </form>
}
