@main("Lista de Pacientes") {
    <p id="texto">

    </p>
    <button id="boton" onclick="agregar()"></button>


    <script>
        var texto = document.getElementById("texto");



var websocket = new WebSocket("ws://localhost:9000/jsonManager/");



    function agregar() {
    var gabriel = {
    "id":4,
    "nombre":"Gabriel",
    "apellido":"Bono",
    "dni":346927,
    "obraSocial":2
    };
    var json = JSON.stringify(gabriel);
    console.log(gabriel);
    console.log(json);
      websocket.send(json);
    };

    websocket.onmessage = function (event) {
    console.log("Recibi un mensaje con: " + JSON.stringify(event.data));
    boton.value  = JSON.stringify(event.data);
    boton.innerHTML = boton.value
};
    </script>
}